[submodule "vendor/docopt"]
	path = vendor/docopt
	url = https://github.com/mirakc/docopt.cpp.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/cppcodec"]
	path = vendor/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "vendor/aribb24"]
	path = vendor/aribb24
	url = https://github.com/mirakc/aribb24.git
[submodule "vendor/tsduck-arib"]
	path = vendor/tsduck-arib
	url = https://github.com/mirakc/tsduck-arib.git
	ignore = dirty
[submodule "vendor/libisdb"]
	path = vendor/libisdb
	url = https://github.com/DBCTRADO/LibISDB.git
	ignore = dirty
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/google-benchmark"]
	path = vendor/google-benchmark
	url = https://github.com/google/benchmark.git
