name: daily

on:
  schedule:
    - cron: '5 5 * * *'  # 05:05 (UTC)

env:
  UPDATE_DEPS_TITLE: 'build(deps): update dependencies'

jobs:
  # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#authenticating-with-github-app-generated-tokens
  update-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.CI_BOT_APP_ID }}
          private_key: ${{ secrets.CI_BOT_PRIVATE_KEY }}
      - uses: raven-actions/bot-details@v1
        id: bot-details
        with:
          bot-slug-name: mirakc-ci
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          # Fetch all history for all branches and tags
          # so that ./scripts/update-deps works properly.
          fetch-depth: 0
      - name: Update dependencies
        id: update-deps
        run: |
          ./scripts/update-deps /tmp/update-deps.log.md
          echo "body=/tmp/update-deps.log.md" >>"$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ steps.generate-token.outputs.token }}
          title: ${{ env.UPDATE_DEPS_TITLE }}
          body-path: ${{ steps.update-deps.outputs.body }}
          commit-message: ${{ env.UPDATE_DEPS_TITLE }}
          author: ${{ steps.bot-details.outputs.name-email }}
          branch: update-deps
          delete-branch: true
          labels: dependencies
