name: weekly

on:
  schedule:
    - cron: '19 19 * * 4'  # 19:19 (UTC), Thursday
  workflow_dispatch:

env:
  DENO_DIR: /tmp/deno

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Use `main` in order to use actions/github-script@v7 for avoiding a warning.
      - uses: raven-actions/bot-details@main
        id: bot-details
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          # Fetch all history for all tags and branches
          fetch-depth: 0
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: git config
        run: |
          git config user.name "${{ steps.bot-details.outputs.name }}"
          git config user.email "${{ steps.bot-details.outputs.email }}"
      - run: |
          TAG="$(git describe --tags --abbrev=0)"
          if git diff --quiet "$TAG"
          then
            echo "Not changed, skip to create new release"
          else
            ./scripts/release patch
            git push
            git push --tags
          fi
